body{
    font-family: Georgia;
    color: #333333;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
}

h1{
    font-size: 2rem;
    line-height: 1.3em;
}

p{
    margin-bottom: 1.6rem;
}

.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.header{
    background: #333;
    color: white;
    padding: 2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.header a{
    color: white;
    text-decoration: none;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    letter-spacing: 15px;
    font-size: 1.3em;
}

header img{
    width: 50px;
    height: 50px;
}

img{
    width: 750px; height: 500px;
}

.navegacion ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navegacion ul li{
    display: inline-block;
}

.navegacion ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

a{
    text-decoration: none;
}

.navegacion ul li a:hover{
    background: #4a4a4a;
}

.main{
    padding-top: 12rem;
}

@media (max-width: 770px) {

    .main{
        padding-top: 25rem;
    }

    .navegacion{
        width: 100%;
        margin-top: 1rem;
    }

    .navegacion ul li{
        display: block;
    }

    .navegacion ul li a{
        display: block;
        padding: 0.5rem 0;
        transition: all 0.4s linear;
        border-radius: 5px;
    }

    .navegacion ul li a:hover{
        background: #4a4a4a;
    }

    p{
        display: flex;
        flex-direction: column;
    }

    main img{
        width: 60%;
        height: 55%;
    }
}

.item-a{
    grid-area: Sponsor;
    place-self: center;
}
.item-b{
    grid-area: Contact;
    place-self: center;
}
.item-c{
    grid-area: Copyright;
    place-self: center;
}
.footer{
    background: lightgrey;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
    grid-template-areas: "Sponsor Contact" "Sponsor Contact" "Copyright Copyright";
    padding: 2rem;
}